<link rel="stylesheet" href="/main/home/home.css">
<script src="/main/home/home.js"></script>

<div class="container w100">

  <h1>Welcome</h1>
  <p>Hello, User <%= userId %>! You are logged in.</p>
  <a href="/logout">Logout</a>
</div>
