<link rel="stylesheet" href="../assets/scss/contact/contact-01.css" />
<link rel="stylesheet" href="assets/scss/list-style/list-style.css" />

<!--====== REGISTER FORM PART START ======-->
<div class="container">
  <section class="contact-area pb-0">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-8">
          <div class="section-title mt-45">
            <h3 class="title">Register your account</h3>
          </div>
          <div class="contact-form form-style-four mt-15">
            <form method="POST" action="/register">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-input mt-15">
                    <label>Name</label>
                    <div class="input-items default">
                      <i class="lni lni-user"></i>
                      <input
                        type="text"
                        name="name"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-input mt-15">
                    <label>Email</label>
                    <div class="input-items default">
                      <i class="lni lni-envelope"></i>
                      <input
                        type="email"
                        name="email"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-input mt-15">
                    <label>Username</label>
                    <div class="input-items default">
                      <i class="lni lni-user"></i>
                      <input
                        type="text"
                        name="username"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-input mt-15">
                    <label>Password</label>
                    <div class="input-items default">
                      <i class="lni lni-key"></i>
                      <input
                        type="password"
                        name="password"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-form mt-5">
                    <div class="input-form rounded-buttons">
                      <button
                        class="btn primary-btn"
                        type="submit"
                      >
                        Register
                      </button>
                    </div>
                  </div>
                  <!-- single form -->
                </div>
                <div class="col-md-12">
                  <div class="form-input text-center mt-15">
                    <p class="text">
                      Already have an account?
                      <a href="/login">Login here</a>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 offset-xl-1">
          <div class="list-style mt-5">
            <h4 class="list-title">System Features</h4>
            <div class="list-style-two">
              <ul>
                <li><i class="lni lni-check-box"></i> Somos os melhores</li>
                <li><i class="lni lni-check-box"></i> Somos os melhores</li>
                <li><i class="lni lni-check-box"></i> Somos os melhores</li>
                <li><i class="lni lni-check-box"></i> Somos os melhores</li>
              </ul>
            </div>
          </div>
          <!-- list-style-two -->
        </div>
      </div>
    </div>
  </section>
</div>
