#logs {
    font-family: Arial, sans-serif;
    width: 100%;
    height: calc(100dvh - 100px);
    overflow-y: scroll;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    min-height: 250px;
    hr {
        margin: 3px;
    }
}

@media screen and (max-width: 575px) {
    #logs{
        height: calc(100dvh - 190px);
    }
}

#message {
    width: 80%;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
}

/* tabs-six */
.tabs-six {
    border: 1px solid var(--gray-4);
}

.tabs-six .nav {
    height: 100%;
    position: relative;
}

.tabs-six .nav::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--gray-4);
    top: 0;
    right: 0;
}

.tabs-six .nav a {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    font-weight: 700;
    padding: 13px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: block;
    position: relative;
    text-align: center;
}

.tabs-six .nav a i {
    margin-right: 5px;
    font-size: 18px;
}

.tabs-six .nav a.active {
    color: var(--primary);
    background: var(--primary-light);
}

.tabs-six .nav a.active::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background: var(--primary);
    top: 0;
    right: 0;
}

.tabs-six .tab-content .tab-text {
    padding: 15px;
}

.tabs-six .tab-content .tab-text .text {
    color: var(--dark-3);
}
